/* Write your CSS here! */

body {
    background-color: #8226B0;
    display: block; 
    margin: 8px;
}

h2 {
    font-size: 30;
    color: white;
}

#mainHeading {
    color: red;
    font-family: 'Franklin Gothic Medium';
    font-size: 80;
}

h3 {
    font-size: 30;
    color: black;
}

h4 {
    font-size: 30;
    color: white;
}

h5 {
    font-size: 80;
    color: black;
}

p {
    font-family:"Lucida Console";
}

#funParagraph {
color: green
}
